<nav class="navbar">
  <a href="/" class="brand"><i class="fa-solid fa-umbrella-beach"></i></a>
  <div class="hamburger" id="hamburger">&#9776;</div>
  <div class="nav-links" id="navLinks">
    <a href="/">Home</a>
    <a href="/listings">All Listings</a>
    <a href="/listings/new">Add New Listing</a>
  </div>
</nav>